body {
  background-color: aliceblue
}

.racer_table td {
  background-color: rgb(68, 128, 180);
  border: 1px solid aliceblue;
  height: 40px;
  width: 40px;
}

.racer_table td.active {
  background-color: purple;
}