.container {
  width:700px;
  height:500px;
}


.turn {
  padding:100px;
  position:absolute;
  top:300px;
  left:700px;
     -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.turn2 {
  padding:100px;
  position:absolute;
  top:300px;
  right:700px;
     -webkit-transform: rotate(1235deg);
    -moz-transform: rotate(1235deg);
    -o-transform: rotate(1235deg);
    -ms-transform: rotate(1235deg);
    transform: rotate(1235deg);
}


.racer_table td {
  background-color: green;
  height: 20px;
  width: 20px;

-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
}

.racer_table td.active {
  background-color: black;
}

.racer_table td.next_blue {
    background-color: red;
}

.racer_table td.woo {
    background-color: blue;
}

.racer_table td.end {
  background-color: orange;
}