.player1 {
  width:40px;
  height: 120px;
  display: inline-block;
  border-right: 1px solid #fff;
  border-bottom: 1px solid red;
  background-color: black;
}

.player2 {
  width:40px;
  height: 120px;
  display: inline-block;
  border-right: 1px solid #fff;
  background-color: black;
}

div.active {
  background-color: teal;
}